* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-y: auto;
  overflow-x: auto;
}

body {
  background: #0f172a;
  color: #f1f5f9;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ================= CKEDITOR ================= */

.ck-editor {
  background: rgba(2, 6, 23, .8);
  border-radius: 0.75rem;
  border: 1px solid rgba(148, 163, 184, .2);
  overflow: hidden;
}

.ck-editor__editable {
  background: rgba(2, 6, 23, .9) !important;
  color: #f1f5f9 !important;
  min-height: 400px;
  padding: 1.5rem;
  line-height: 1.6;
}

.ck-toolbar {
  background: rgba(15, 23, 42, .9) !important;
  border: 1px solid rgba(148, 163, 184, .2) !important;
  border-bottom: none !important;
}

.ck-button {
  color: #f1f5f9 !important;
}

.ck-button .clipboard-icon {
  width: 1.8em;
  height: 1.8em;
  display: block;
}


.ck-button:hover,
.ck-button.ck-on {
  background: rgba(51, 65, 85, .8) !important;
}

.ck-editor__editable.ck-focused {
  box-shadow: 0 0 0 2px rgba(0, 224, 255, .5);
}

.ck-content ::selection {
  background: #00e0ff;
  color: #05060f;
}